<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hotel__Project.Properties.Settings.Hotel_management_DBConnectionString"
            connectionString="Data Source=LAPTOP-0RI4EB5H;Initial Catalog=Hotel_management_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>